.hero-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 4rem 8%;
  gap: 2rem;
  background-color: #1E242C;
  color: #ffffff;
  min-height: 100vh;
}

.hero-content {
  max-width: 55%;
}

.hero-badge {
  display: inline-block;
  padding: 0.3rem 0.6rem;
  border: 1px solid #fff;
  font-size: 0.85rem;
  margin-bottom: 1rem;
  border-radius: 12px; 
}


.hero-title {
  font-size: 3rem;
  line-height: 1.2;
  font-weight: bold;
}

.highlight {
  color: #a84be0;
}

.hero-subtitle {
  font-size: 2rem;
  margin-top: 0.5rem;
  height: 2.4rem;
}

.animated-text {
  border-right: 2px solid #ffffff;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
}

.hero-description {
  margin-top: 1.5rem;
  font-size: 1rem;
  line-height: 1.6;
  color: #ccc;
}

.hero-image {
  background: transparent;
  border: none;
  padding: 0;
}


.hero-photo {
  max-width: 400px;
  width: 100%;
  height: auto;
  border-radius: 12px;

  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.7); 
  background: transparent;
  border: none;
  outline: none;
  display: block;
}


.cursor {
  display: inline-block;
  width: 1ch;
  animation: blink 1s infinite;
}

@keyframes blink {
  0%, 50% {
    opacity: 1;
  }
  51%, 100% {
    opacity: 0;
  }
}

/* RTL: зеркальная вёрстка */
.hero-section.rtl {
  flex-direction: row-reverse;
  text-align: right;
}